<mat-accordion>
  <mat-expansion-panel *ngFor="let time of timeData">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ time.time }} </mat-panel-title>
      <mat-panel-description [ngStyle]="{ color: setColor(time.availability) }">
        {{ time.availability }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="time.examDetails">
      <p><b>Patient Name</b>: {{ time.examDetails.patientName }}</p>
      <p><b>Service</b>: {{ time.examDetails.service }}</p>
    </div>

    <div *ngIf="time.availability === 'available'">
      <mat-form-field>
        <input matInput placeholder="Patient Name" required />
      </mat-form-field>
      <app-clinic-service [dataSource]="clinics"></app-clinic-service>
    </div>

    <div fxLayoutAlign="space-between center">
      <button mat-raised-button color="primary" *ngIf="time.availability === 'available'">
        Reserve Examination
      </button>

      <button mat-raised-button color="primary" *ngIf="time.availability === 'reserved'">
        Confirm Examination
      </button>

      <button mat-stroked-button color="warn" *ngIf="time.availability === 'reserved'" >
        Cancel Examination
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
