 <form fxLayout="column" fxLayoutAlign="center center" class="example-form">

    <!-- Clinic Selector -->
    <mat-form-field>
      <mat-select #clinic required>
        <mat-option *ngFor="let clinic of clinics; let i = index" (onSelectionChange)="changeClinic($event)" [value]="i">{{
          clinic.clinicName
        }}</mat-option>
      </mat-select>
      <mat-label><b> Select</b> <i> Clinic</i></mat-label>
    </mat-form-field>

    <!-- Doctor Selector -->
    <mat-form-field *ngIf="clinic.value || clinic.value == 0">
      <mat-select required>
        <mat-option
          *ngFor="let doctor of clinics[clinic.value].doctors; let i = index"
          [value]="i"
        >
          {{ doctor.firstName }} {{ doctor.lastName }}
        </mat-option>
      </mat-select>
      <mat-label><b>Select</b> <i>Doctor</i></mat-label>
    </mat-form-field>

    <!-- Timepicker -->
    <app-timepicker *ngIf="clinic.value || clinic.value == 0"></app-timepicker>
  </form>
