<mat-form-field>
  <input
    #date
    matInput
    [matDatepickerFilter]="dateFilter"
    [matDatepicker]="datePicker"
    placeholder="Select Booking Date"
  />
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker (closed)="onChange($event)" #datePicker></mat-datepicker>
</mat-form-field>
