<mat-form-field>
  <mat-select required>
    <mat-option
      *ngFor="let service of dataSource[selectedClinic].services; let i = index"
      [value]="i"
    >
      {{ service.id + 1 }}. {{ service.title }}
    </mat-option>
  </mat-select>
  <mat-label><b>Select</b> <i>Service</i></mat-label>
</mat-form-field>
